.example-spacer {
    flex: 1 1 auto;
}

mat-toolbar {
    background-color: #3f51b5; 
    padding: 16px 24px; 
}
  
.example-icon {
    color: white;
}
  
.favorite-icon {
    color: red;
}

.my{
    color:#fff;
}